<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Karamel.Infrastructure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Karamel.Infrastructure.Properties.Settings>
            <setting name="StopPlaybackAfterSong" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SequentialPlayback" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExpertMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Volume" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ArtistTitleSeparator" serializeAs="String">
                <value> - </value>
            </setting>
            <setting name="ArtistBeforeTitle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ParseTagBeforeName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StandardListFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowRemainingTime" serializeAs="String">
                <value>False</value>
            </setting>
        </Karamel.Infrastructure.Properties.Settings>
    </userSettings>
</configuration>