<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism"/>
  </configSections>
  <modules>
    <module assemblyFile="MediaPlayer.dll" moduleType="MediaPlayer.MediaPlayerModule, MediaPlayer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="MediaPlayer" startupLoaded="true" />
    <module assemblyFile="Playlist.dll" moduleType="Playlist.PlaylistModule, Playlist, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="Playlist" startupLoaded="true" />
    <module assemblyFile="MediaLibrary.dll" moduleType="MediaLibrary.MediaLibraryModule, MediaLibrary, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="MediaLibrary" startupLoaded="true" />
    <module assemblyFile="PlayerControl.dll" moduleType="PlayerControl.PlayerControlModule, PlayerControl, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="PlayerControl" startupLoaded="true" />
    <module assemblyFile="SingerLibrary.dll" moduleType="SingerLibrary.SingerLibraryModule, SingerLibrary, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="SingerLibrary" startupLoaded="false" />
  </modules>
</configuration>